<!doctype html>

<html>
<head>
   <link href="css/items.css" rel="stylesheet" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script type="text/javascript" src="data.json"></script>
   <script src="js/itemsScreen.js"></script>
   
</head>

<body>
   <header id="main-header">
      <div class="container">
         <h1>
            <a class="alignleft" href="sections">🡠</a>
            <a href="#">Fridge</a>
         </h1>
      </div>
   </header>

   <ul id="items">

      <!--{{#each categories}}
      {{#if section}}
         <li class="category"><a id="{{categoryName}}">{{categoryName}}</a></li>
         {{#each items}}
            <li class="item"><a>{{itemName}}</a></li>
         {{/each}}
      {{/if}}
      {{/each}}-->
   </ul>

   <button id="addItembtn">+</button>

   <!--Add item popup-->
   <div id="myModal" class="modal">
      <div class="modal-content">
         <span class="close">&times;</span>
         <header class="addItem-header">Add Item</header>
         <form id="addItemForm" method="get" action="/addItem">
            <label for="itemName">Item:</label><br />
            <input type="text" placeholder="Item Name" name="itemName" /><br />
            <label for="category">Category:</label><br />
            <select name="category">
               {{#each categories}}
               <option value="{{categoryName}}">{{categoryName}}</option>
               {{/each}}
            </select><br />
            <label for="expiration">Expires:</label><br />
            <input type="date" name="expiration" /><br />
            <label for="notification">Notification:</label><br />
            <input type="text" placeholder="3 Days" name="notification" /><br />
            <label for="shared">Shared:</label>
            <label class="switch">
               <input type="checkbox">
               <span class="slider round"></span>
            </label>
            <input type="submit" id="confirmItembtn" value="Add Item" />
         </form>
         <!--<button id="confirmItembtn">Add Item</button>-->
      </div>
   </div>

   <!--Item click popup-->
   <div id="itemClick" class="modal">
      <div class="modal-content">
         <span class="close">&times;</span>
         <header class="addItem-header" id="itemClickHeader">Edit Item</header>
         <button id="deleteItemBtn">Delete Item</button>
         <form id="addItemForm" method="get" action="/addItem">
            <label for="itemName">Item:</label><br />
            <input type="text" placeholder="Item Name" name="itemName" /><br />
            <label for="category">Category:</label><br />
            <select name="category">
               {{#each categories}}
               <option value="{{categoryName}}">{{categoryName}}</option>
               {{/each}}
            </select><br />
            <label for="expiration">Expires:</label><br />
            <input type="date" name="expiration" /><br />
            <label for="notification">Notification:</label><br />
            <input type="text" placeholder="3 Days" name="notification" /><br />
            <label for="shared">Shared:</label>
            <label class="switch">
               <input type="checkbox">
               <span class="slider round"></span>
            </label>
            <input type="submit" id="confirmItembtn" value="Add Item" />
         </form>
         <!--<button id="confirmItembtn">Add Item</button>-->
      </div>
   </div>

   <!--Bottom nav bar-->
   <div class="container">
      <ul id="navbar">
         <li class="barli"><a href="/" class="bar">Sections</a></li>
         <li class="barli"><a href="shoppingList" class="bar">Shopping List</a></li>
         <li class="barli"><a href="group" class="bar">Group</a></li>
      </ul>
   </div>
</body>
</html>